<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aapolis.apolisbillingsystem">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ApolisBillingSystem">
        <activity
            android:name=".activities.AllBillsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.BillingActivity"
            android:exported="false"
            android:label="@string/activity_title_new_bill" />
        <activity
            android:name=".activities.ProductsActivity"
            android:exported="false"
            android:label="@string/activity_title_products" />
        <activity
            android:name=".activities.AddProductActivity"
            android:exported="false"
            android:label="@string/activity_title_add_product" />
        <activity
            android:name=".activities.CustomersActivity"
            android:exported="false"
            android:label="@string/activity_title_customers" />
        <activity
            android:name=".activities.AddCustomerActivity"
            android:exported="false"
            android:label="@string/activity_title_add_customer" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>